{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch,"1.0.x"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
    {rebar_vsn_plugin, "", {git, "https://github.com/erlware/rebar_vsn_plugin.git", {branch, "master"}}}
    
]}.

{plugins, [rebar_vsn_plugin]}.
{plugin_dir, "deps/rebar_vsn_plugin/src"}.
